<div id="resumo">
        <div class="curriculo">
          <mat-icon>person</mat-icon> Employment
        </div>
        <table class="table">
          <tr>
            <td>2012-2014</td>
            <td>
          <tr>Colégio Antonio Vieira</tr>
          <tr>Suporte a plataforma de usuario</tr>
          <tr>Estágiaria</tr>
          </td>
          </tr>
          
          <tr>
            <td>02/2018-06/2018</td>
            <td>
          <tr>Prodeb</tr>
          <tr>Suporte a infraestrutura</tr>
          <tr>Estágiaria</tr>
          </td>
          </tr>
          
          <tr>
            <td>2018-2019</td>
            <td>
          <tr>Multinacional Capgemini</tr>
          <tr>Análise e Desenvolvimento de sistemas</tr>
          <tr>Desenvolvedora Pleno</tr>
          </td>
          </tr>
        </table>
        <div class="curriculo">
          <mat-icon>school</mat-icon> Education
        </div>
        <table class="table">
          <tr>
            <td>2014-2018</td>
            <td>Universidade Salvador - UNIFACS
          <tr>Bacharelado em Ciência da Computação</tr>
          </td>
          </tr>
        </table>
        <div class="curriculo">
          <mat-icon>star</mat-icon> Skill
        </div>
        <table class="table">
          <tr>
            <td>
              <mat-icon>arrow_right</mat-icon>
            </td>
            <td>
          <tr>Angular</tr>
          <tr>Nível: Iniciante</tr>
          </td>
          </tr>
          <tr>
            <td>
              <mat-icon>arrow_right</mat-icon>
            </td>
            <td>
          <tr>PHP</tr>
          <tr>Nivel:Iniciante</tr>
          </td>
          </tr>
          <tr>
            <td>
              <mat-icon>arrow_right</mat-icon>
            </td>
            <td>
          <tr>Java</tr>
          <tr>Iniciante</tr>
          </td>
          </tr>
          <tr>
            <td>
              <mat-icon>arrow_right</mat-icon>
            </td>
            <td>
          <tr>Html, CSS</tr>
          <tr>Iniciante</tr>
          </td>
          </tr>
        </table>
      </div>