.hearder{
  
    width: 100%;
    height: auto;
    position: relative;
    float: left;  
    background-color: rgb(7, 5, 121);
    align-items: center;
    
  }
img{ 
  display: block;
  margin-left: auto;
margin-right: auto;
    width: 100px;
    height: 100px;
    object-fit: cover;


}