<div id="m">
        <img src="assets/img/isabeleperfil.jpg">
        <h1>ISABELE EVELIN</h1>
        <hr>
        <h2>DESENVOLVIMENTO BACK-END</h2>
    
        <div class="dados">
          <mat-icon>person</mat-icon> Profile<br />
        </div>
        <div>
          <table>
            <tr>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
              sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </tr>
          </table>
        </div>
        <div class="dados">
          <mat-icon>contacts</mat-icon> Contatos
        </div>
        <table>
          <tr>
            <mat-icon>mail</mat-icon> isabele.evelin@hotmail.com
          </tr>
          <tr>
            <mat-icon>call</mat-icon> 71 9 97175646
          </tr>
          <tr>
            <mat-icon>check_circle</mat-icon> https://github.com/isabeleevelin
          </tr>
        </table>
        <div class="dados">
          <mat-icon>wb_sunny</mat-icon> Hobby
        </div>
        <table>
          <tr>
            <mat-icon>book</mat-icon> Leitura
          </tr>
          <tr>
            <mat-icon>directions_bike</mat-icon> Atividade Fisica
          </tr>
          <tr>
            <mat-icon>computer</mat-icon> Programação
          </tr>
        </table>
      </div>

