<!--<div class="container">

  <mat-toolbar>
  <mat-toolbar-row>
      <app-menu></app-menu>
      <mat-icon class="example-spacer">face</mat-icon>
  </mat-toolbar-row>  
</mat-toolbar>


<app-logo></app-logo>
</div>-->

<!--<div class="header">
  <div id="header"></div>
</div>-->
<div id="cont">
  <div id="m">
    <img src="assets/img/sunset.jpg">
    <h1>ISABELE EVELIN</h1>
    <hr>
    <h2>DEVELOPER</h2>
    
    <div class="dados">
      <mat-icon>person</mat-icon>   Profile<br/>
    </div>
    <div>
      <table>
        <tr>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        </tr>
      </table>
    </div>
    <div class="dados"><mat-icon>contacts</mat-icon>   Contatos</div>
    <table>
    <tr>
      <mat-icon>mail</mat-icon> isabele.evelin@hotmail.com
      </tr>
      <tr>
        <mat-icon>call</mat-icon> 71 9 97175646
      </tr>
      <tr>
        <mat-icon>check_circle</mat-icon> git
      </tr>
    </table>
    <div class="dados">
      <mat-icon>wb_sunny</mat-icon>   Hobby
    </div>
    <table>
      <tr>
          <mat-icon>book</mat-icon> Leitura
      </tr>
      <tr>
          <mat-icon>directions_bike</mat-icon> Atividade Fisica
      </tr>
      <tr>
        <mat-icon>computer</mat-icon> Programação
      </tr>


    </table>
  </div>
  
  <div id="resumo">
    <div class="curriculo">
      <mat-icon>person</mat-icon>   Employment
    </div>
    <table class="table">
      <tr>
        <td>2012-2014</td>
        <td><tr>Colégio Antonio Vieira</tr>
          <tr>Suporte a plataforma de usuario</tr>
          <tr>Estágiaria</tr>
        </td>
      </tr>
      <tr>
        <td>02/2018-06/2018</td>
        <td>
          <tr>Prodeb</tr>
          <tr>Suporte a infraestrutura</tr>
          <tr>Estágiaria</tr>
        </td>
      </tr>
      <tr>
        <td>2018-2019</td>
        <td>
          <tr>Multinacional Capgemini</tr>
          <tr>Análise e Desenvolvimento de sistemas</tr>
          <tr>Desenvolvedora Pleno</tr>
        </td>
      </tr>
    </table>
    <div class="curriculo">
      <mat-icon>school</mat-icon>   Education
    </div>
    <table class="table">
      <tr>
        <td>2014-2018</td>
        <td>Universidade Salvador - UNIFACS
          <tr>Bacharelado em Ciência da Computação</tr>
        </td>
      </tr>
    </table>
    <div class="curriculo">
      <mat-icon>star</mat-icon>   Skill
    </div>
    <table class="table">
    <tr>
      <td><mat-icon>arrow_right</mat-icon> </td>
      <td><tr>Angular</tr>
        <tr>Nível: Iniciante</tr>
      </td>
    </tr>
    <tr>
      <td><mat-icon>arrow_right</mat-icon></td>
    <td>
      <tr>PHP</tr>
      <tr>Nivel:Iniciante</tr>
    </td>
    </tr>
    <tr>
      <td><mat-icon>arrow_right</mat-icon></td>
      <td>
        <tr>Java</tr>
        <tr>Iniciante</tr>
      </td>    
    </tr>
    <tr>
      <td><mat-icon>arrow_right</mat-icon></td>
      <td><tr>Html, CSS</tr>
      <tr>Iniciante</tr>
      </td>
    </tr>
    </table>
    </div>
  </div>
  <div class="rodape">
      <mat-icon>local_florist</mat-icon> 
  </div>
